.row {
	display: flex;
	flex-wrap: wrap;
}

.row.no-wrap {
	flex-wrap: nowrap;
}

.flex-1 {
	flex: 1;
}

.row.flex-column {
	flex-direction: column;
}

.row.no-warp {
	flex-wrap: nowrap;
}

.jus-between {
	justify-content: space-between;
}

.jus-evenly {
	justify-content: space-evenly;
}

.jus-end {
	justify-content: end;
}

.jus-start {
	justify-content: flex-start;
}

.jus-center {
	justify-content: center;
}

.ali-center {
	align-items: center;
}

.ali-end {
	align-items: flex-end;
}

.ali-start {
	align-items: flex-start;
}

.ali-baseline {
	align-items: baseline;
}

/* mobile: s + prefix */
@media (max-width: 743px) {
	.wide {
	}

	.s-0 {
		display: none !important;
	}

	.s-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}

	.s-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}

	.s-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.s-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}

	.s-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}

	.s-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.s-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}

	.s-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}

	.s-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.s-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}

	.s-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}

	.s-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
}

/* tablet: m + prefix */
@media (min-width: 744px) and (max-width: 949px) {
	.m-0 {
		display: none !important;
	}

	.m-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}

	.m-1-5 {
		flex-basis: 14.285%;
		max-width: 14.285%;
	}

	.m-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}

	.m-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.m-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}

	.m-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}

	.m-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.m-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}

	.m-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}

	.m-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.m-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}

	.m-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}

	.m-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
}

/* PC low resolution: l + prefix */
@media (min-width: 949px) and (max-width: 1127px) {
	.wide {
		padding: 0;
	}

	.wide .l-0 {
		display: none;
	}

	.wide .l-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}

	.wide .l-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}

	.wide .l-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.wide .l-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}

	.wide .l-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}

	.wide .l-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.wide .l-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}

	.wide .l-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}

	.wide .l-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.wide .l-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}

	.wide .l-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}

	.wide .l-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
}

/* PC: h + prefix */
@media (min-width: 1128px) {
	.wide .h-0 {
		display: none;
	}

	.wide .h-1 {
		flex-basis: 8.33333%;
		max-width: 8.33333%;
	}

	.wide .h-2 {
		flex-basis: 16.66667%;
		max-width: 16.66667%;
	}

	.wide .h-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.wide .h-4 {
		flex-basis: 33.33333%;
		max-width: 33.33333%;
	}

	.wide .h-5 {
		flex-basis: 41.66667%;
		max-width: 41.66667%;
	}

	.wide .h-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.wide .h-7 {
		flex-basis: 58.33333%;
		max-width: 58.33333%;
	}

	.wide .h-8 {
		flex-basis: 66.66667%;
		max-width: 66.66667%;
	}

	.wide .h-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.wide .h-10 {
		flex-basis: 83.33333%;
		max-width: 83.33333%;
	}

	.wide .h-11 {
		flex-basis: 91.66667%;
		max-width: 91.66667%;
	}

	.wide .h-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
}
