/* 0px */
.m-0 {
	margin: 0px;
}
.ml-0 {
	margin-left: 0px;
}
.mr-0 {
	margin-right: 0px;
}
.mt-0 {
	margin-top: 0px;
}
.mb-0 {
	margin-bottom: 0px;
}

/* 4px */

.m-4 {
	margin: 4px;
}
.ml-4 {
	margin-left: 4px;
}
.mr-4 {
	margin-right: 4px;
}
.mt-4 {
	margin-top: 4px;
}
.mb-4 {
	margin-bottom: 4px;
}

/* 8px */

.m-8 {
	margin: 8px;
}
.ml-8 {
	margin-left: 8px;
}
.mr-8 {
	margin-right: 8px;
}
.mt-8 {
	margin-top: 8px;
}
.mb-8 {
	margin-bottom: 8px;
}

/* 12px */

.m-12 {
	margin: 12px;
}
.ml-12 {
	margin-left: 12px;
}
.mr-12 {
	margin-right: 12px;
}
.mt-12 {
	margin-top: 12px;
}
.mb-12 {
	margin-bottom: 12px;
}

/* 16px */

.m-16 {
	margin: 16px;
}
.ml-16 {
	margin-left: 16px;
}
.mr-16 {
	margin-right: 16px;
}
.mt-16 {
	margin-top: 16px;
}
.mb-16 {
	margin-bottom: 16px;
}

/* 20px */

.m-20 {
	margin: 20px;
}
.ml-20 {
	margin-left: 20px;
}
.mr-20 {
	margin-right: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}

/* 24px */

.m-24 {
	margin: 24px;
}
.ml-24 {
	margin-left: 24px;
}
.mr-24 {
	margin-right: 24px;
}
.mt-24 {
	margin-top: 24px;
}
.mb-24 {
	margin-bottom: 24px;
}

/* 32px */

.m-32 {
	margin: 32px;
}
.ml-32 {
	margin-left: 32px;
}
.mr-32 {
	margin-right: 32px;
}
.mt-32 {
	margin-top: 32px;
}
.mb-32 {
	margin-bottom: 32px;
}

/* 40px */

.m-40 {
	margin: 40px;
}
.ml-40 {
	margin-left: 40px;
}
.mr-40 {
	margin-right: 40px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-40 {
	margin-bottom: 40px;
}
