.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-italic {
	font-style: italic;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.text-nowrap {
	width: 99%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
